In [1]:
import os
import sys
import pandas as pd
import numpy
import json

/Users/tawn/.pyenv/versions/3.6.8/lib/python3.6/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
file_list = os.listdir('../house_clean/shanghai.house.csv')
file = ''
for i in file_list:
    if os.path.splitext(i)[1] == '.csv':
        file = i
        break

In [3]:
df = pd.DataFrame(pd.read_csv('../house_clean/shanghai.house.csv/' + file, header=0))

In [4]:
print(list(df))

['raw_key', 'price', 'pay_way', 'tag', 'rent_way', 'house_type', 'size', 'orientation', 'floor', 'decorate_type', 'facility', 'traffic', 'address', 'coordinate']

In [5]:
from sklearn.model_selection import train_test_split
df_train,df_test = train_test_split(df,test_size = 0.2,stratify=df['address'], random_state=1)
# df_train,df_validate = train_test_split(df_train,test_size=0.25,stratify=df_train['address'], random_state=1)

In [6]:
def convert(df_input):
    df_res = df_input.drop(['raw_key', 'tag', 'coordinate', 'rent_way', 'house_type', 'floor', 'facility'], axis=1)
    columns = ['tag', 'rent_way', 'house_type', 'floor', 'facility']
    print(list(df_res))
    for column in columns:
        ser = df_input[column].map(lambda x : json.loads(x))
        for i in range(len(ser[0])):
            df_res[column + '_' + str(i)] = ser.map(lambda x : x[i])
    # one-hot code
    df_res = pd.get_dummies(df_res, columns=['pay_way', 'rent_way_0', 'rent_way_1', 'rent_way_2', 'orientation', 'decorate_type', 'address'], prefix=['pay_way_', 'rent_way_0_', 'rent_way_1_', 'rent_way_2_', 'orientation_', 'decorate_type_', 'address_'])
    return df_res

In [7]:
# 调整特征
train_data = convert(df_train.reset_index(drop=True))
# validate_data = convert(df_validate.reset_index(drop=True))
test_data = convert(df_test.reset_index(drop=True))
# 统一列名
# validate_data = validate_data.reindex(columns=train_data.columns, fill_value=0)
test_data = test_data.reindex(columns=train_data.columns, fill_value=0)

['price', 'pay_way', 'size', 'orientation', 'decorate_type', 'traffic', 'address']
['price', 'pay_way', 'size', 'orientation', 'decorate_type', 'traffic', 'address']

In [8]:
print(list(test_data))
# columns

['price', 'size', 'traffic', 'tag_0', 'tag_1', 'tag_2', 'tag_3', 'tag_4', 'tag_5', 'tag_6', 'tag_7', 'tag_8', 'tag_9', 'tag_10', 'tag_11', 'tag_12', 'tag_13', 'tag_14', 'tag_15', 'tag_16', 'tag_17', 'tag_18', 'tag_19', 'tag_20', 'tag_21', 'tag_22', 'tag_23', 'tag_24', 'tag_25', 'tag_26', 'tag_27', 'tag_28', 'tag_29', 'tag_30', 'tag_31', 'house_type_0', 'house_type_1', 'house_type_2', 'floor_0', 'floor_1', 'floor_2', 'facility_0', 'facility_1', 'facility_2', 'facility_3', 'facility_4', 'facility_5', 'facility_6', 'facility_7', 'facility_8', 'facility_9', 'facility_10', 'facility_11', 'facility_12', 'facility_13', 'facility_14', 'facility_15', 'facility_16', 'facility_17', 'facility_18', 'facility_19', 'facility_20', 'pay_way__0', 'pay_way__1', 'pay_way__2', 'pay_way__3', 'pay_way__4', 'pay_way__5', 'pay_way__6', 'pay_way__7', 'pay_way__8', 'pay_way__9', 'pay_way__10', 'pay_way__11', 'pay_way__12', 'pay_way__13', 'rent_way_0__1', 'rent_way_0__2', 'rent_way_1__0', 'rent_way_1__1', 'rent_way_1__2', 'rent_way_1__3', 'rent_way_1__4', 'rent_way_1__6', 'rent_way_2__0', 'rent_way_2__1', 'rent_way_2__2', 'rent_way_2__3', 'orientation__0', 'orientation__1', 'orientation__2', 'orientation__3', 'orientation__4', 'orientation__5', 'orientation__6', 'orientation__7', 'orientation__8', 'orientation__9', 'orientation__10', 'decorate_type__0', 'decorate_type__1', 'decorate_type__2', 'decorate_type__3', 'decorate_type__4', 'decorate_type__5', 'address__1', 'address__2', 'address__3', 'address__4', 'address__5', 'address__6', 'address__7', 'address__8', 'address__9', 'address__10', 'address__11', 'address__12', 'address__13', 'address__14', 'address__15', 'address__16', 'address__17']

In [9]:
print(list(train_data))

['price', 'size', 'traffic', 'tag_0', 'tag_1', 'tag_2', 'tag_3', 'tag_4', 'tag_5', 'tag_6', 'tag_7', 'tag_8', 'tag_9', 'tag_10', 'tag_11', 'tag_12', 'tag_13', 'tag_14', 'tag_15', 'tag_16', 'tag_17', 'tag_18', 'tag_19', 'tag_20', 'tag_21', 'tag_22', 'tag_23', 'tag_24', 'tag_25', 'tag_26', 'tag_27', 'tag_28', 'tag_29', 'tag_30', 'tag_31', 'house_type_0', 'house_type_1', 'house_type_2', 'floor_0', 'floor_1', 'floor_2', 'facility_0', 'facility_1', 'facility_2', 'facility_3', 'facility_4', 'facility_5', 'facility_6', 'facility_7', 'facility_8', 'facility_9', 'facility_10', 'facility_11', 'facility_12', 'facility_13', 'facility_14', 'facility_15', 'facility_16', 'facility_17', 'facility_18', 'facility_19', 'facility_20', 'pay_way__0', 'pay_way__1', 'pay_way__2', 'pay_way__3', 'pay_way__4', 'pay_way__5', 'pay_way__6', 'pay_way__7', 'pay_way__8', 'pay_way__9', 'pay_way__10', 'pay_way__11', 'pay_way__12', 'pay_way__13', 'rent_way_0__1', 'rent_way_0__2', 'rent_way_1__0', 'rent_way_1__1', 'rent_way_1__2', 'rent_way_1__3', 'rent_way_1__4', 'rent_way_1__6', 'rent_way_2__0', 'rent_way_2__1', 'rent_way_2__2', 'rent_way_2__3', 'orientation__0', 'orientation__1', 'orientation__2', 'orientation__3', 'orientation__4', 'orientation__5', 'orientation__6', 'orientation__7', 'orientation__8', 'orientation__9', 'orientation__10', 'decorate_type__0', 'decorate_type__1', 'decorate_type__2', 'decorate_type__3', 'decorate_type__4', 'decorate_type__5', 'address__1', 'address__2', 'address__3', 'address__4', 'address__5', 'address__6', 'address__7', 'address__8', 'address__9', 'address__10', 'address__11', 'address__12', 'address__13', 'address__14', 'address__15', 'address__16', 'address__17']

In [10]:
columns = ['price', 'size', 'traffic', 'tag_0', 'tag_1', 'tag_2', 'tag_3', 'tag_4', 'tag_5', 'tag_6', 'tag_7', 'tag_8', 'tag_9', 'tag_10', 'tag_11', 'tag_12', 'tag_13', 'tag_14', 'tag_15', 'tag_16', 'tag_17', 'tag_18', 'tag_19', 'tag_20', 'tag_21', 'tag_22', 'tag_23', 'tag_24', 'tag_25', 'tag_26', 'tag_27', 'tag_28', 'tag_29', 'tag_30', 'tag_31', 'house_type_0', 'house_type_1', 'house_type_2', 'floor_0', 'floor_1', 'floor_2', 'facility_0', 'facility_1', 'facility_2', 'facility_3', 'facility_4', 'facility_5', 'facility_6', 'facility_7', 'facility_8', 'facility_9', 'facility_10', 'facility_11', 'facility_12', 'facility_13', 'facility_14', 'facility_15', 'facility_16', 'facility_17', 'facility_18', 'facility_19', 'facility_20', 'pay_way__0', 'pay_way__1', 'pay_way__2', 'pay_way__3', 'pay_way__4', 'pay_way__5', 'pay_way__6', 'pay_way__7', 'pay_way__8', 'pay_way__9', 'pay_way__10', 'pay_way__11', 'pay_way__12', 'pay_way__13', 'rent_way_0__1', 'rent_way_0__2', 'rent_way_1__0', 'rent_way_1__1', 'rent_way_1__2', 'rent_way_1__3', 'rent_way_1__4', 'rent_way_1__6', 'rent_way_2__0', 'rent_way_2__1', 'rent_way_2__2', 'rent_way_2__3', 'orientation__0', 'orientation__1', 'orientation__2', 'orientation__3', 'orientation__4', 'orientation__5', 'orientation__6', 'orientation__7', 'orientation__8', 'orientation__9', 'orientation__10', 'decorate_type__0', 'decorate_type__1', 'decorate_type__2', 'decorate_type__3', 'decorate_type__4', 'decorate_type__5', 'address__1', 'address__2', 'address__3', 'address__4', 'address__5', 'address__6', 'address__7', 'address__8', 'address__9', 'address__10', 'address__11', 'address__12', 'address__13', 'address__14', 'address__15', 'address__16', 'address__17']

In [11]:
train_data.to_csv("./data/train.csv")
# validate_data.to_csv("./data/validate.csv")
test_data.to_csv("./data/test.csv")

In [13]:
print(train_data.shape)
print(test_data.shape)
# print(validate_data.shape)

(58684, 122)
(14672, 122)

In [47]:
# 基本操作
df.shape
df.info
df.dtypes
df.isnull()
df.values
df.columns
df.head() #默认前10行数据
df.tail() #默认后10 行数据
# 数据处理
df.loc[0] # 按索引提取单行的数值
df_inner.iloc[0:5] # 按索引提取区域行数值
df.sample(n=3) # 随机取样
df.corr() # 相关性分析
df.cov() # 协方差分析

,raw_key,price,pay_way,tag,rent_way,house_type,size,orientation,floor,decorate_type,facility,traffic,address,coordinate
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73351,False,False,False,False,False,False,False,False,False,False,False,True,False,False
73352,False,False,False,False,False,False,False,False,False,False,False,True,False,False
73353,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73354,False,False,False,False,False,False,False,False,False,False,False,False,False,True
73355,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [45]:
df.dtypes

raw_key           object
price              int64
pay_way            int64
tag               object
rent_way          object
house_type        object
size             float64
orientation        int64
floor             object
decorate_type      int64
facility          object
traffic            int64
address            int64
coordinate        object
dtype: object

In [53]:
df.sample(frac=0.1)

(7336, 14)

In [58]:
data = pd.read_csv('./shanghai.house_new.csv/part-00000-757f1dc3-92a2-4c38-af95-f1f929523c43-c000.csv',header=0)

In [31]:
df.loc[2]

raw_key                           423de5fbf595782562c8c746bb4d01d2
price                                                        35000
pay_way                                                          2
tag              [null, null, null, null, null, null, null, nul...
rent_way                                           [2, null, null]
house_type                                               [4, 2, 3]
size                                                           238
orientation                                                     10
floor                                              [2, null, null]
decorate_type                                                    4
facility         [null, null, 1, 1, null, null, null, null, 1, ...
traffic                                                        625
address                                                          5
coordinate                                                     NaN
Name: 2, dtype: object

In [81]:
json.loads(df.loc[0]['house_type'])

[2, 1, 1]

In [83]:
df_s = df.sample(n=2)

In [84]:
df_s['tag'] = df_s['tag'].map(lambda x : json.loads(x))

In [91]:
df_s.sort_index()

,raw_key,price,pay_way,tag,rent_way,house_type,size,orientation,floor,decorate_type,facility,traffic,address,coordinate
23587,ffc2116129ce49212dbd251845f368e5,2300,2.0,"[None, None, None, None, None, None, None, Non...","[1, 1, 3]","[3, 2, 2]",25.0,2.0,"[2, null, null]",5.0,"[null, null, 1, 1, null, 1, null, null, 1, 1, ...",302.0,7,"[121.449535, 31.280409]"
35817,3a8d3b1a33ff7503d5756275bbfb119a,5500,4.0,"[None, None, None, None, None, 1, None, None, ...","[2, null, null]","[2, 1, 1]",96.0,2.0,"[2, null, null]",4.0,"[null, 1, 1, 1, null, 1, null, null, 1, 1, nul...",789.0,16,NaN

In [102]:
df_s.values

array([['3a8d3b1a33ff7503d5756275bbfb119a', 5500, 4.0,
        list([None, None, None, None, None, 1, None, None, None, None, None, None, None, None, None, None, None, 1, None, None, None, None, None, None, None, None, None, None, 1, None, None, None]),
        '[2, null, null]', '[2, 1, 1]', 96.0, 2.0, '[2, null, null]',
        4.0,
        '[null, 1, 1, 1, null, 1, null, null, 1, 1, null, null, null, 1, 1, null, 1, 1, 1, 1, null]',
        789.0, 16, nan],
       ['ffc2116129ce49212dbd251845f368e5', 2300, 2.0,
        list([None, None, None, None, None, None, None, None, None, None, None, None, 1, None, None, None, None, 1, None, None, None, None, None, None, None, None, None, None, 1, None, None, None]),
        '[1, 1, 3]', '[3, 2, 2]', 25.0, 2.0, '[2, null, null]', 5.0,
        '[null, null, 1, 1, null, 1, null, null, 1, 1, null, null, null, 1, 1, null, 1, 1, 1, null, null]',
        302.0, 7, '[121.449535, 31.280409]']], dtype=object)

In [41]:
import numpy as np
sum = 0
for row in df.itertuples():
    if getattr(row, 'pay_way') != getattr(row, 'pay_way'):
        sum += 1
print(sum)

5

In [43]:
data = {'pay_way': [3], 'tag': [[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]], 'rent_way': [[1, 2, 1]], 'house_type': [[3, 3, 3]], 'size': [34.0], 'orientation': [3], 'floor': [[1, 1, 4]], 'decorate_type': [1], 'facility': [[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]], 'traffic': [233], 'address': [5], 'coordinate': [None]}

In [44]:
columns = ['pay_way', 'tag', 'rent_way', 'house_type', 'size', 'orientation', 'floor', 'decorate_type', 'facility', 'traffic', 'address', 'coordinate']
data = pd.DataFrame(data, columns=columns)

In [45]:
data

,pay_way,tag,rent_way,house_type,size,orientation,floor,decorate_type,facility,traffic,address,coordinate
0,3,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...","[1, 2, 1]","[3, 3, 3]",34.0,3,"[1, 1, 4]",1,"[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",233,5,None

In [42]:
[1]

[1]